<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nachos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationState"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nachos">
        <activity
            android:name=".Webview"
            android:exported="true" />
        <activity
            android:name=".MypageActivity"
            android:exported="true" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CountActivity" />
        <activity
            android:name=".AboutGoogleLogin"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".SiteActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutVeActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ProductActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FragementAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutAnActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutDoActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutFtActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutPfActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AboutUpActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />
    </application>

</manifest>